
#slideshow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E3D1C2;
	width: 780px;
	margin: 0 auto;
	padding: 0px;
	margin-top: 10vh;
}

#slideshow {
	text-align: center;
	display: inline-block;
	width: 600px;
}

.image-slide {
	display: none;
	max-width: 600px;
	max-height: 400px;
}

.slide-button {
	background-color: transparent;
	padding: 5px;
	display: inline-block;
	border: none;
	font-size: 40px;
}

.slide-button:focus {
	outline: 0;
}

.slide-button:hover {
	cursor: pointer;
}

body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}

#top-section {
	background-image: url("media/site_images/background_wood.jpg");
	background-attachment: fixed;
	height: 90vh;
	padding-top: 20px;
	text-align: center;
}

#navbar {
	color: white;
	margin: 0 auto;
	max-width: 1400px;
	background-color: #E3D1C2;
}

#nav-title{
	display: inline-block;
	font-family: Galada;
	color: #1C0E06;
	margin-right: 400px;
	font-size: 50px;
}

.nav-element {
	font-family: Galada;
	font-size: 45px;
	margin-right: 40px;
	text-decoration: none;
	color: #1C0E06;
}


#middle-section {
	height: 400px;
	background-color: rgb(0, 0, 122);
}

#bottom-section {
	height: 400px;
	background-color: rgb(0, 122, 0);
}
